<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Create User</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="postForm()">
      <ion-item>
        <ion-label floating>Firstname</ion-label>
        <ion-input type="text" [(ngModel)]="user.lastName" name="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Lastname</ion-label>
        <ion-input [(ngModel)]="user.firstName" name="firstName"></ion-input>
      </ion-item>
      <button ion-button type="submit" block>Add user</button>
    </form>
</ion-content>